ul{
    list-style: none;
    border-bottom: 1px solidred;
}
ul>li{
    width: 200px;
    display: inline-block;
    border:1px solid #D5D5D5;
    margin:10px;
}
.name{
    background-color: darkcyan;
    padding: 5px;
    color: #FFFFFF;
}
.description{
    padding: 5px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}

.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    height:30px;
    background-color: darkcyan;
    border: 1px solid #bfbfbf;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}